.navbox{
  float: left;
  width:100%;
  border-bottom: 2px #E31939 solid;
  height: 37px;
  padding-top: 5px;
  background: #fff;
  .nav{
    width:1210px;
    height:37px;
    margin:0 auto;
    .menu{
      float: left;
      width:210px;
      height:37px;
      a{
        color: #fff;
        display: block;
        font-size:16px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        width: 210px;
        height: 37px;
        line-height: 37px;
        z-index: 9999;
        background: #E31939;
        span{
          display: inline-block;
          margin-left:20px;
          width:10px;
          height:7px;
          background: url("../images/user_header.png") no-repeat -428px -115px;
        }
      }
    }
    .navlist{
      float: left;
      margin-left:20px;
      height:37px;
      text-align: center;
      li{
        float: left;
        line-height:37px;
        a{
          padding:0 20px;
          height:36px;
          font-size:15px;
          color: #3C3C3C;
        }
        a:hover{
          color: #E31939;
        }
      }
    }
  }
}